<%= bootstrap_form_for ([:maintenance,@post]) do |f| %>
  <div id="error-message">
   <% if @post.errors.any? %>
   	<p>Kindly rectify the following <%= pluralize(@post.errors.count, "error") %></p>
   	<ul>
   		<% @post.errors.full_messages.each do |msg| %>
   			<li><%= msg %></li>
   		<% end %>
   	</ul>
   <% end %>
  </div>
  <section class="no-label">
    <%= f.text_field :title, placeholder: 'Title' %>

    <%= f.text_area :body, placeholder: 'Body' %>
  </section>

  <%= f.button 'Save',
      class: 'btn btn-primary btn-sm',
      data: {disable_with: "<i class='fa fa-spinner fa-spin'>Saving Post</i>" } %>
<% end %>
