<%= form_for([:admin, @purchase], html: {class: 'form-horizontal'}) do |f| %>
    <div class="col-sm-10 col-md-10">
      <div class="container">
        <% if @purchase.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

            <ul>
            <% @purchase.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <%= f.label :product %>
    <%= f.collection_select(:product_id, Product.stockable, :id, :name, prompt: 'Select a product')  %><br>

    <%= f.label :quantity %>
    <%= f.text_field :quantity %>

    <p id="button-paragraph">
       <%= f.submit class: "btn btn-sm btn-primary" %>
       <%= link_to 'Cancel', admin_purchases_path, class: 'btn btn-sm btn-danger' %>
    </p>


<% end %>
