<% title "Ziada | Purchases " %>
<div class="container">
  <section class="content-header">
    <h3>Purchase For: <b><i><%= @purchase.product.name %></i></b></h3>
  </section>

<section class="content">
  <div class="box box-primary">
    <div class="box box-body">
      <div class="row">
          <div class="col-sm-2 col-md-2">
            <strong><h5>Quantity: </h5></strong>
          </div>
          <div class="col-sm-10 col-md-10">
            <h5><%= @purchase.quantity %></h5>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-2 col-md-2">
            <strong><h5>Purchased by: </h5></strong>
          </div>
          <div class="col-sm-10 col-md-10">
            <% if @purchase.user %>
              <h5><%= @purchase.user.name %></h5>
            <% elsif @purchase.owner %>
              <h5><%= @purchase.owner.name %></h5>
            <% else %>
              <h5>Deleted User</h5>
            <% end %>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-2 col-md-2">
            <strong><h5>Purchase price</h5></strong>
          </div>
          <div class="col-sm-10 col-md-10">
            <h5><%= @purchase.product.purchase_price %>/-</h5>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-2 col-md-2">
            <strong><h5>Total Spent: </h5></strong>
          </div>
          <div class="col-sm-10 col-md-10">
            <h5><%= @purchase.total_price %>/-</h5>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-2 col-md-2">
            <strong><h5>Purchased On: </h5></strong>
          </div>
          <div class="col-sm-10 col-md-10">
            <h5><%= @purchase.created_at.strftime('%B, %Y, %d') %></h5>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-2 col-md-2">
            <strong><h5>Purchased At: </h5></strong>
          </div>
          <div class="col-sm-10 col-md-10">
            <h5><%= @purchase.created_at.strftime('%T') %></h5>
          </div>
      </div>
      <div class="row">
        <div class="container">
          <%= link_to 'Back', admin_purchases_url, class: 'btn btn-default btn-sm' %>
          <%= link_to 'Destroy', admin_purchase_url(@purchase), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
