<h3 align="center">Sales</h3>

<section class="content">
  <div class="box box-primary">
    <div class="box box-body">
      <div class="pull-right form-group">
        <%= text_field_tag :search, "", class: 'form-control searchField', placeholder: 'Search sale..' %>
      </div>
      <br>
      <table class="table table-responsive-sm" id="myTable">
        <thead>
          <tr>
            <th>Code</th>
            <th>Pay type</th>
            <th><%= sort_link(@search, :pay_amount) %></th>
            <th><%= sort_link(@search, :balance) %></th>
          </tr>
        </thead>

        <tbody>
          <% @sales.each do |sale| %>
            <tr>
              <td><%= link_to sale.code, admin_sale_url(sale) %></td>
              <td><%= sale.pay_type %></td>
              <td><%= sale.pay_amount %></td>
              <td><%= sale.balance %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="apple_pagination">
        <div class="page_info">
          <%= page_entries_info @sales %>
        </div>
        <%= will_paginate @sales, container: false %>
      </div>
    </div>
  </div>
</section>
<br>
