<!-- Bootstrap 4 Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background:white">
  <div class="container">
    <%= link_to image_tag("ziada_nav_brand.png", alt: "Ziada"), home_index_url, class: 'navbar-brand' %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navHeaderCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navHeaderCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= yield(:home) %>">
          <%= link_to "Home", home_index_url, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= yield(:products) %>">
          <%= link_to "Products", products_url, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= yield(:categories) %>">
          <%= link_to "Categories", categories_url, class: 'nav-link' %>
        </li>

        <!-- dropdown -->
        <% if user_logged_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="userInfo" id="navbarDropdown">
              <%= current_user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="userInfo">
              <%= link_to 'Profile', user_url(current_user), class: 'dropdown-item' %>
              <%= link_to 'Logout', logout_url, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        <% elsif owner_logged_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="userInfo">
              <%= current_owner.name %>
            </a>
              <div class="dropdown-menu" aria-labelledby="userInfo">
                <%= link_to 'Admin', admin_root_url, class: 'dropdown-item' %>
                <%= link_to 'Logout', logout_url, method: :delete, class: 'dropdown-item' %>
              </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
