<%= form_for @owner, html: {multipart: true} do |f| %>
  <div id="error-message">
   <% if @owner.errors.any? %>
   	<p>Kindly rectify the following <%= pluralize(@owner.errors.count, "error") %></p>
   	<ul>
   		<% @owner.errors.full_messages.each do |msg| %>
   			<li><%= msg %></li>
   		<% end %>
   	</ul>
   <% end %>
  </div>

 <div class = "field">
   <%= f.label :name %>
   <%= f.text_field :name, class: 'form-control' %><br>
 </div>

 <div class = "field">
   <%= f.label :email %>
   <%= f.text_field :email, class: 'form-control' %><br>
 </div>

 <div class = "field">
   <%= f.label :password %>
   <%= f.password_field :password, class: 'form-control' %><br>
 </div>

 <div class = "field">
   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation, class: 'form-control' %><br>
 </div>

 <div class="field">
   <%= f.label :avatar %>
   <%= f.file_field :avatar %>
 </div><br>

 <%= f.button 'Create Owner', class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving Details..."} %>
<% end %>
