<% title "Ziada | Customers - #{@customer.name}" %>
<section>
  <h4> Name:    <%= @customer.name %></h4>
  <h4> Contact: <%= @customer.contact %></h4>
</section>

	<h3 align="center">Products bought by <%= "#{@customer.name}" %> </h3>

  <ul>
    <% @customer.sale.sale_items.each do |item| %>
      <li><%= item.product.name %></li>
    <% end %>
  </ul>


<%= link_to 'Back', admin_categories_url, class: 'btn btn-sm btn-default' %> |
<%= link_to 'Delete', admin_customer_url(@customer), method: :delete, data: {confirm: 'Are You Sure?'},
    class: 'btn btn-sm btn-danger'%>
