<%= form_for @user, html: {multipart: true} do |f| %>
  <div id="error-message">
   <% if @user.errors.any? %>
   	<p>Kindly rectify the following <%= pluralize(@user.errors.count, "error") %></p>
   	<ul>
   		<% @user.errors.full_messages.each do |msg| %>
   			<li><%= msg %></li>
   		<% end %>
   	</ul>
   <% end %>
  </div>

 <div class = "field">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %><br>
 </div>

 <div class = "field">
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control' %><br>
 </div>

 <div class = "field">
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %><br>
 </div>

 <div class = "field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %><br>
 </div>

 <div class="field">
  <%= f.label :role %>
  <%= f.collection_select(:role_id, Role.all, :id, :name)%><br>
 </div>

 <div class="field">
   <%= f.file_field :avatar, class: 'label-control' %>
 </div><br>

 <%= f.submit 'Create User', class: 'btn btn-primary form-control' %>
<% end %>
