<div class="container">
  <h3>Purchase For <%= @purchase.product.name %></h3>
  <p>
    <h5>Supplier: </h5> <%= @purchase.supplier %>
  </p>
  <p>
    <h5>Quantity: </h5> <%= @purchase.quantity %>
  </p>
  <p>
    <h5>Purchase price</h5> <%= @purchase.product.purchase_price %>
  </p>
  <p>
    <h5>Total Spent: </h5> <%= @purchase.total_price %>
  </p>
</div>