<div class="container">
    <div class="row">
        Name: <%= @contact.name %>
    </div>
    <div class="row">
        Email: <%= @contact.email %>
    </div>
    <div class="row">
        <div class="container">
            <h5>Message</h5>
            <%= @contact.message %>
	    <hr>
        </div>
    </div>
    <div class="row">
        <p><em>Date Sent <%= @contact.created_at.strftime("%B %d %Y") %></em></p>
        <p><em>Time Sent <%= @contact.created_at.strftime("%T") %></em></p>
    </div>
</div>
