<% title "Ziada | Categories - #{@category.name}" %>
<section>
  <h3 class="lead text-center"><%= @category.name %></h3>
</section>

<section class="content">
  <div class="box-box-primary">
    <div class="box box-body">
      <div class="container">

        <h5 align="center">Products in <%= "#{@category.name}" %> Category</h5>
      	<table class="table table-responsive-sm table-condensed">
      		<thead>
      			<th>Name</th>
      			<th>Purchase Price</th>
      			<th>Sale Price</th>
            <th>Quantity</th>
      			<th></th>
      		</thead>
      		<tbody>
      			<% @products.each do |product| %>
              <tr>
                <td><%= link_to product.name, product %></td>
        				<td><%= product.purchase_price %></td>
        				<td><%= product.selling_price %></td>
        				<td><%= product.quantity %></td>
              </tr>
      			<% end %>
            <%= will_paginate @products %>
      		</tbody>
      	</table>


      <%= link_to 'Edit', edit_admin_category_url(@category), class: 'btn btn-sm btn-default' %> |
      <%= link_to 'Delete', admin_category_url(@category), method: :delete, data: {confirm: 'Are You Sure?'},
          class: 'btn btn-sm btn-danger'%>

      </div>
    </div>
  </div>
</section>
