<div class="">
  <div class="col-sm-12 col-md-12">
  <%= form_for([:admin,@product ]) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :category %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: 'Select Category'}, {class: 'form-control'}) %>
    </div>
    <div class="form-group">
      <%= f.label :purchase_price %>
      <%= f.text_field :purchase_price, placeholder: "0.0", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :selling_price %>
      <%= f.text_field :selling_price, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :manufacturer %>
      <%= f.text_field :manufacturer, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :supplier %>
      <%= f.collection_select(:supplier_id, Supplier.all, :id, :name, {prompt: 'Select Supplier'}, {class: 'form-control'}) %>
    </div>

    <%= f.button 'Save', class: "btn btn-primary btn-sm", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving Details..."} %>
    <%= link_to 'Cancel', admin_products_path, class: 'btn btn-danger btn-sm' %>
  <% end %>
  </div> <!-- /.col-sm-12 -->
</div> <!-- /.col-sm-12 -->
