<div class="container">
	<div class="pull-right">
		<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i>Search Category</button>
	</div>
	<table class="table table-responsive">
		<thead>
			<tr>
				<th><%= sort_link(@search, :name) %></th>
				<th>Number of Products</th>
			</tr>
		</thead>
		<tbody>
			<% @categories.each do |category| %>
				<tr>
					<td><%= link_to category.name, category %></td>
					<td><%= category.products.count %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Search Category</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div> <!-- /.modal-header -->

			<!-- Modal Body -->
			<div class="modal-body">
				<div class="row">
					<div class="container">
						<%= search_form_for @search do |f| %>
							<p>
								<%= f.label :name_cont, "Name" %>
								<%= f.text_field :name_cont %><br>
							</p>

							<p>
								<%= f.submit %>
							</p>
						<% end %>
					</div>
				</div>
			</div><!-- /.modal-body -->
			<div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		    </div>
		</div><!-- -->
	</div>
</div><!-- -->
