<h3><%= @category.name %></h3>

<h5 align="center">Products in <%= "#{@category.name}" %> Category</h5>
<table class="table table-responsive-md table-condensed">
  <thead>
    <th>Name</th>
    <th>Purchase Price</th>
    <th>Sale Price</th>
    <th>Quantity</th>
    <th></th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= product.purchase_price %></td>
        <td><%= product.selling_price %></td>
        <td><%= product.quantity %></td>
      </tr>
    <% end %>
    <%= will_paginate @products %>
  </tbody>
</table>
