<section class="content">
  <div class="box box-primary">
    <div class="box box-body">
      <h1 align="center">
      	<%= image_tag @user.avatar.url(:medium), class: "img-rounded img-responive"%>
      	<%= @user.name %>
      	<hr>
      </h1>

      <div class="container">
      	<p>
      		Email: <%= @user.email %>
      	</p>

      	<p>
      		Role: <%= @user.role.name %>
      	</p>

      	<p>
      		Sale count: <%= @user.sales.count %>
      	</p>

        <p>
          Deleted: <%= @user.deleted %>
        </p>

      	<p>
      		Joined on <%= @user.created_at.strftime('%d %b %Y') %>
      	</p>
      </div>

    </div>
  </div>
</section>

<%= link_to 'Edit', edit_user_url(@user), class: 'btn btn-sm btn-default' %> |
<%= link_to 'Delete',
    admin_user_url(@user),
    method: :delete,
    data: {confirm: 'Are you sure?'}  %>
