<p id="notice"><%= notice %></p>

<section class="content-header">
  <h3 align="center">Suppliers</h3>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box box-body">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <%= link_to 'View Supplier', admin_suppliers_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Supplier', new_admin_supplier_path, class: 'nav-link' %>
        </li>
      </ul>

      <div class="pb-5">
        <div class="pull-right form-group">
          <%= text_field_tag :search, "", class: 'form-control searchField', placeholder: 'Search supplier..' %>
        </div>
      </div>

      <table class="table table-condensed table-responsive-sm" id="myTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Telephone</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <% @suppliers.each do |supplier| %>
            <tr>
              <td><%= link_to supplier.name, admin_supplier_url(supplier) %></td>
              <td><%= supplier.telephone %></td>
              <td><%= supplier.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="apple_pagination">
        <div class="page_info">
          <%= page_entries_info @suppliers %>
        </div>
        <%= will_paginate @suppliers, container: false %>
      </div>
    </div>
  </div>
</section>
