<section class="content">
  <div class="box box-primary">
    <div class="box box-body">
      <p>
        <strong>Name:</strong>
        <%= @supplier.name %>
      </p>

      <p>
        <strong>Telephone:</strong>
        <%= @supplier.telephone %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @supplier.email %>
      </p>

      <%= link_to 'Edit', edit_admin_supplier_path(@supplier) %> |
      <%= link_to 'Delete', admin_supplier_url(@supplier), method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Back', admin_suppliers_path %>
    </div>
  </div>
</section>


