<% provide(:products, "active") %>
<% title "Ziada | Products - #{@product.name}" %>
<h2 align="center">Product Specifics</h2><br>

<div class="container text-center">
  <div class="row">      
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Purchase price:</strong>
      <%= @product.purchase_price %>
    </p>

    <p>
      <strong>Selling price:</strong>
      <%= @product.selling_price %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @product.category.name %>
    </p> 

    <p>
      <strong>Manufacturer:</strong>
      <%= @product.manufacturer %>
    </p>

    <%= link_to 'Back', products_path, class: 'btn btn-info' %>   
  </div> <!-- /row    -->  
</div> <!-- /container    -->  

