<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Ziada" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <!-- Navbar partial -->
    <%= render 'layouts/shared/navigation' %>
    <div class="row">
      <div class="container-fluid">
        <div class="pull-right">
          <div id="biz-info">
            <%= current_account.name %>
          </div>
        </div>
      </div><br>
    </div>


    <!-- Cart Link, Checkout Link, Cart Modal partials -->
    <% if @cart %>
      <div class="cart-text">
        <%= render 'layouts/shared/cart_text' %>
      </div>
      <%= render 'layouts/shared/checkout_text' %>
      <%= render 'layouts/shared/cart_modal' %>
      <hr>
    <% end %>

    <!-- Flash Messages -->
    <div class="container">
      <div class="col-sm-12 col-md-12">
        <%= render 'layouts/shared/flash' %>
      </div>
    </div>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
