<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Ziada" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <!-- Logo -->
    <%# render 'layouts/logo' %>

    <!-- Navbar -->
    <%= render 'layouts/welcome_navigation' %>

    <!-- Flash Messages -->
    <div class="container">
      <div class="col-sm-12 col-md-12">
        <%= render 'layouts/flash' %>
      </div>
    </div>

    <!-- Content -->

      <%= yield %>


  </body>
</html>
