<%= bootstrap_form_for @account  do |f|%>
	<div class="">
		<%= f.text_field :name, class: 'form-control'%><br>

		<%= f.text_field :subdomain, class: 'form-control'%><br>

		<%= f.select :country, ['Kenya', 'Uganda', 'Tanzania'], class: 'form-control' %><br>

		<%= f.button "Create Account", class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving Details..."}%>
		<%= link_to 'Cancel', welcome_home_url, class: 'btn btn-danger' %>
	</div>
<% end %>
